:root {
  --paleblue: hsl(225, 100%, 94%);
  --brightblue: hsl(245, 75%, 52%);
  --verypaleblue: hsl(225, 100%, 98%);
  --desatblue: hsl(224, 23%, 55%);
  --darkblue: hsl(223, 47%, 23%);
  --paragraph: 16px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--paleblue);
  font-family: "Red Hat Display", sans-serif;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  width: 450px;
  text-align: center;
}

.card img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card h1 {
  font-size: 1.75rem;
}

.card p {
  padding: 20px 50px;
  font-size: var(--paragraph);
  color: hsl(223, 47%, 23%);
}

.container-main-sec {
  background-color: var(--verypaleblue);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.main-sec {
  margin-top: -5px;
  background-color: var(--verypaleblue);
  padding: 40px 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.minisec {
  background-color: var(--paleblue);
  border-radius: 15px;
  padding: 20px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cancel-btn {
  text-decoration: underline;
}

#cancel-btn:hover {
  text-decoration: none;
}

.left {
  display: flex;
}

.minisec img {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.prices {
  margin-left: 15px;
  padding: 0;
}

.prices p {
  padding: 3px;
}

.payment-cancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

#payment {
  background-color: var(--brightblue);
  font-weight: 900;
  color: var(--paleblue);
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 80%;
  outline: none;
  cursor: pointer;
}

#payment:hover {
  background-color: hsl(245, 65%, 62%);
}

#cancel {
  background-color: var(--verypaleblue);
  font-weight: 900;
  color: var(--desatblue);
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 80%;
  outline: none;
  cursor: pointer;
}

#cancel:hover {
  color: var(--darkblue);
}
